<div class="fx-gallery mb-4" [ngStyle]="{'width': panelWidth || defaultWidth, 'height': panelHeight || defaultHeight}">
  
  <p-toast position="top-center"></p-toast>

  <div class="fx-gallery-header">
    <h4>{{galleryName}}</h4>
    <p>{{galleryDescription}}</p>
  </div>

  <div class="fx-gallery-toolbar">
    <p-toolbar>
      <div class="ui-toolbar-group-left">
        <label for="catalog">Catalog:&nbsp;</label>
        <p-dropdown name="catalog" [options]="catalog" [(ngModel)]="selectedCatalog" optionLabel="name"></p-dropdown>
        <button pButton type="button" label="Edit" class="ui-button-secondary ml-2" (click)="editCatalog($event)"></button>
        <button pButton type="button" label="Delete" class="ui-button-secondary ml-2" (click)="deleteCatalog($event)"></button>
      </div>
      <div class="ui-toolbar-group-right">
          <fx-search-bar placeHolderText="Search Filter" (input)="search($event)"></fx-search-bar>
      </div>
    </p-toolbar>
  </div>

  <ng-container *ngIf="(images$ | loading | async) as images">
    <ng-container *ngIf="images.loading" [ngTemplateOutlet]="loadingTpl"></ng-container>
    <ng-container *ngIf="!images.loading && !images.value" [ngTemplateOutlet]="noImagesTpl"></ng-container>
    <ng-container *ngIf="images.value" [ngTemplateOutlet]="imagesTpl" [ngTemplateOutletContext]="{$implicit: images.value}"></ng-container>
    <ng-container *ngIf="images.error" [ngTemplateOutlet]="errorTpl" [ngTemplateOutletContext]="{$implicit: images.error}"></ng-container>
  </ng-container>

</div>

<ng-template #noImagesTpl>
  <div class="fx-gallery-body p-grid p-align-center mt-2 mb-2">
    <div class="p-col">
      <span>No images</span>
    </div>
  </div>
</ng-template>

<ng-template #imagesTpl let-images>
  <div class="fx-gallery-body p-grid p-align-center mt-2 mb-2">
    <ng-container *ngFor="let image of images">
      <p-card header="{{image.name}}" class="p-col-fixed" [ngStyle]="{'width': image.width, 'height': image.height}">
        <img #tplImage (click)="imageClick(image)" src="{{image.uri}}" width="{{image.width}}" height="{{image.height}}"/>
        <p-footer>
          <button type="button" pButton label="Edit" class="ui-button-primary mr-2" (click)="editImage(image)"></button>
          <button type="button" pButton label="Delete" class="ui-button-danger mr-2" (click)="deleteImage(image)"></button>
        </p-footer>
      </p-card>
    </ng-container>
  </div>
  <ng-container *ngIf="images.length > 10">
    <div class="fx-gallery-footer">
      <p-paginator [rows]="10" totalRecords="100" (onPageChange)="paginate($event)"></p-paginator>
    </div>
  </ng-container>
</ng-template>

<ng-template #loadingTpl>
  <div class="mt-2">
    <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
  </div>
</ng-template>

<ng-template #errorTpl let-error>
  <div class="mt-2">
    <p-message severity="error" [text]="error"></p-message>
  </div>
</ng-template>