<div class="fx-gallery mb-4" [ngStyle]="{'width': panelWidth || defaultWidth, 'height': panelHeight || defaultHeight}">
  
  <div class="fx-gallery-header">
    <h4>{{galleryName}}</h4>
    <p>{{galleryDescription}}</p>
  </div>

  <div class="fx-gallery-toolbar">
    <p-toolbar>
      <div class="ui-toolbar-group-left">
        <label for="catalog">Catalog:&nbsp;</label>
        <p-dropdown name="catalog" [options]="catalog" [(ngModel)]="selectedCatalog" optionLabel="name"></p-dropdown>
        <button pButton type="button" label="Edit" class="ui-button-secondary ml-2" (click)="editCatalog($event)"></button>
        <button pButton type="button" label="Delete" class="ui-button-secondary ml-2" (click)="deleteCatalog($event)"></button>
      </div>
      <div class="ui-toolbar-group-right">
          <fx-search-bar placeHolderText="Search Filter" (input)="search($event)"></fx-search-bar>
      </div>
    </p-toolbar>
  </div>
  
  <div class="fx-gallery-body p-grid p-align-center mt-2 mb-2">

    <ng-container *ngIf="!images">
      <ng-container [ngTemplateOutlet]="noImagesTpl"></ng-container>
    </ng-container>

    <ng-container *ngIf="images">
      <ng-container 
        [ngTemplateOutlet]="imagesTpl" 
        [ngTemplateOutletContext]="{gallery: images}"></ng-container>
    </ng-container>

  </div>

  <div class="fx-gallery-footer">
    <p-paginator [rows]="10" totalRecords="100" (onPageChange)="paginate($event)"></p-paginator>
  </div>

</div>

<ng-template #noImagesTpl>
  <div class="p-col">
    <span>No images</span>
  </div>
</ng-template>

<ng-template #imagesTpl let-gallery='images'>
  <ng-container *ngFor="let image of images">
    <p-card header="{{image.name}}" class="p-col-fixed" [ngStyle]="{'width': image.width, 'height': image.height}">
      <img #tplImage (click)="imageClick(image)" src="{{image.uri}}" width="{{image.width}}" height="{{image.height}}"/>
    </p-card>
  </ng-container>
</ng-template>

<p-toast position="top-center"></p-toast>