<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ng-container *ngIf="(menu$ | async) as menu">
      <ng-container *ngIf="menu" [ngTemplateOutlet]="menuTpl" [ngTemplateOutletContext]="{$implicit: menu}"></ng-container>
      <ng-container *ngIf="!menu" [ngTemplateOutlet]="noMenuTpl"></ng-container>
    </ng-container>
  </div>
</nav>

<ng-template #menuTpl let-menu>
  <ng-container>
    <ul class="nav flex-column">
      <li *ngFor="let menuItem of menu.items">
        <a class="nav-link" [routerLinkActive]="['active']" [routerLink]=menuItem.url>{{menuItem.display_name}}</a>
      </li>
    </ul>
  </ng-container>
</ng-template>

<ng-template #noMenuTpl>
  <span>No menu</span>
</ng-template>